body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 600px;

}

th, td{
    padding: 7px;
}

th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom:1px solid #999 ;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;/*especamento entre as letras*/
}

tr.alternado{
    background-color: #efefef;
}

tr:hover{
    background-color: beige;
}


.numero{
    text-align: right;
}